In [2]:
import pandas as pd
import math
import numpy as np

models = ['JETSON_MultiModel-A-TRT','JETSON_MultiModel-B-TRT']

for model in models:
    table_o = pd.read_excel(model+'.xlsx', sheet_name='Raw', header = [0,1], index_col = [0,1])
    times=[]

    for image in list(table_o.index.levels[0]):
        val_i = []
        val_f = []
        for i1, i2 in zip(['Object detection', 'Drivable area', 'Lane marking'], ['car', 'Drivable', 'Lane']):
            try:
                val_i.append(table_o[(i1, 'Ti')][(image, i2)])
            except:
                val_i.append(math.nan)
            try:
                val_f.append(table_o[(i1, 'Tf')][(image, i2)])
            except:
                val_f.append(math.nan)
        if (math.nan in val_i) or (math.nan in val_f):
            pass
        else:
            times.append(1/(max(val_f) - min(val_i)))
    new_fps = np.array(times).mean()
    table_o = pd.read_excel(model+'.xlsx', sheet_name='Results', header = [0,1], index_col = [0])
    for i1, i2 in zip(['Object detection', 'Drivable area', 'Lane marking'], ['car', 'Drivable', 'Lane']):
        table_o[(i1, 'FPS')][i2] = new_fps
    with pd.ExcelWriter(model +'-Comb' + '.xlsx') as writer:
        table_o.to_excel(writer, sheet_name='Results')

In [75]:
table_o

                               Object detection                         \
                                   Precision@50 Recall@50 Precision@75
b1c81faa-3df17267.jpg Drivable              NaN       NaN          NaN
                      Lane                  NaN       NaN          NaN
b1c81faa-c80764c5.jpg car                   1.0  0.181818          0.5
                      Drivable              NaN       NaN          NaN
                      Lane                  NaN       NaN          NaN
...                                         ...       ...          ...
fe1f2409-c16ea1ed.jpg car                   1.0  0.200000          1.0
                      Drivable              NaN       NaN          NaN
                      Lane                  NaN       NaN          NaN
fe1f55fa-19ba3600.jpg Drivable              NaN       NaN          NaN
                      Lane                  NaN       NaN          NaN

                                                                      \
                               Recall@75            Ti            Tf
b1c81faa-3df17267.jpg Drivable       NaN           NaN           NaN
                      Lane           NaN           NaN           NaN
b1c81faa-c80764c5.jpg car       0.090909  1.697211e+09  1.697211e+09
                      Drivable       NaN           NaN           NaN
                      Lane           NaN           NaN           NaN
...                                  ...           ...           ...
fe1f2409-c16ea1ed.jpg car       0.200000  1.697212e+09  1.697212e+09
                      Drivable       NaN           NaN           NaN
                      Lane           NaN           NaN           NaN
fe1f55fa-19ba3600.jpg Drivable       NaN           NaN           NaN
                      Lane           NaN           NaN           NaN

                               Drivable area                              \
                                         IoU            Ti            Tf
b1c81faa-3df17267.jpg Drivable      0.362045  1.697211e+09  1.697211e+09
                      Lane               NaN           NaN           NaN
b1c81faa-c80764c5.jpg car                NaN           NaN           NaN
                      Drivable      0.413434  1.697211e+09  1.697211e+09
                      Lane               NaN           NaN           NaN
...                                      ...           ...           ...
fe1f2409-c16ea1ed.jpg car                NaN           NaN           NaN
                      Drivable      0.278310  1.697212e+09  1.697212e+09
                      Lane               NaN           NaN           NaN
fe1f55fa-19ba3600.jpg Drivable      0.702514  1.697212e+09  1.697212e+09
                      Lane               NaN           NaN           NaN

                               Lane marking
                                        IoU            Ti            Tf
b1c81faa-3df17267.jpg Drivable          NaN           NaN           NaN
                      Lane         0.041801  1.697211e+09  1.697211e+09
b1c81faa-c80764c5.jpg car               NaN           NaN           NaN
                      Drivable          NaN           NaN           NaN
                      Lane         0.157796  1.697211e+09  1.697211e+09
...                                     ...           ...           ...
fe1f2409-c16ea1ed.jpg car               NaN           NaN           NaN
                      Drivable          NaN           NaN           NaN
                      Lane         0.062790  1.697212e+09  1.697212e+09
fe1f55fa-19ba3600.jpg Drivable          NaN           NaN           NaN
                      Lane         0.000000  1.697212e+09  1.697212e+09

[29058 rows x 12 columns]

In [76]:
table_o[('Object detection', 'Ti')][('b1c81faa-3df17267.jpg', 'Drivable')]

nan

In [82]:
import math
import numpy as np

times=[]

for image in list(table_o.index.levels[0]):
    val_i = []
    val_f = []
    for i1, i2 in zip(['Object detection', 'Drivable area', 'Lane marking'], ['car', 'Drivable', 'Lane']):
        try:
            val_i.append(table_o[(i1, 'Ti')][(image, i2)])
        except:
            val_i.append(math.nan)
        try:
            val_f.append(table_o[(i1, 'Tf')][(image, i2)])
        except:
            val_f.append(math.nan)
    if (math.nan in val_i) or (math.nan in val_f):
        pass
    else:
        times.append(1/(max(val_f) - min(val_i)))

In [83]:
np.array(times).mean()

46.98485848629608

In [32]:
1/(max(val_f) - min(val_i))

59.11216968501163

In [38]:
times

[59.11216968501163]

In [88]:
import pandas as pd
table_o = pd.read_excel(models[1]+'.xlsx', sheet_name='Results', header = [0,1], index_col = [0])

In [96]:
table_o[('Object detection', 'FPS')]['car'] = 50

In [97]:
table_o

         Object detection                 Drivable area              \
                    AP@50     AP@75   FPS           IoU         FPS
car              0.714119  0.565343  50.0           NaN         NaN
Lane                  NaN       NaN   NaN           NaN         NaN
Drivable              NaN       NaN   NaN      0.801437  179.291976

         Lane marking
                  IoU         FPS
car               NaN         NaN
Lane         0.299068  184.495292
Drivable          NaN         NaN