In [1]:
import pandas as pd
import math

In [2]:
# cidx = pd.MultiIndex.from_tuples([('Object detection','mAP@50','Precision'),('Object detection','IoU@50','Recall'),('Object detection','IoU@75','Precision'),('Object detection','IoU@75','Recall'),('Instance segmentation','IoU@50','Precision'),('Instance segmentation','IoU@50','Recall'),('Instance segmentation','IoU@75','Precision'),('Instance segmentation','IoU@75','Recall'),('ALPHA','','Recall'),('BETA','alpha'),('BETA','beta')])

In [42]:
columns_Resume = pd.MultiIndex.from_tuples([('Object detection','mAP@50'),('Object detection','mAP@75'),('Object detection','Ti'),('Object detection','Tf'),('Drivable area','mIoU'),('Drivable area','Ti'),('Drivable area','Tf'),('Lane marking','mF1Score'),('Lane marking','Ti'),('Lane marking','Tf')])

In [63]:
df = pd.DataFrame(columns=columns_Resume, index=a )
# pd.set_option('colheader_justify', 'center')
df = df.drop(['a'])
df

Empty DataFrame
Columns: [(Object detection, mAP@50), (Object detection, mAP@75), (Object detection, Ti), (Object detection, Tf), (Drivable area, mIoU), (Drivable area, Ti), (Drivable area, Tf), (Lane marking, mF1Score), (Lane marking, Ti), (Lane marking, Tf)]
Index: []

In [61]:
df

    Object detection                  Drivable area           Lane marking
              mAP@50 mAP@75   Ti   Tf          mIoU   Ti   Tf     mF1Score
a a              NaN    NaN  NaN  NaN           NaN  NaN  NaN          NaN  \


      Ti   Tf
a a  NaN  NaN

In [57]:
a = pd.MultiIndex.from_tuples([('a','a')])

In [64]:

# df.loc[a,('Object detection','mAP@75')]=10
df.loc[('teste','tese2'),('Object detection','mAP@50')]=10
# pd.MultiIndex.from_tuples(('teste','teste1'))
df

            Object detection                  Drivable area
                      mAP@50 mAP@75   Ti   Tf          mIoU   Ti   Tf
teste tese2               10    NaN  NaN  NaN           NaN  NaN  NaN  \

            Lane marking
                mF1Score   Ti   Tf
teste tese2          NaN  NaN  NaN

In [66]:
# print(df.get(['teste2',('Object detection','mAP@75')]))
# df.loc['teste2'][('Object detection','mAP@75')]
# math.isnan(df.loc['teste2',('Object detection','mAP@50')])
'test2' in df.index

False

In [6]:
# df.to_excel("output.xlsx")  
with pd.ExcelWriter('output.xlsx') as writer:  
    df.to_excel(writer, sheet_name='Sheet_name_1')

In [21]:
print('\033[1;31;48m' + "CUDA NOT DETECTED! Aborting..." + '\033[1;37;0m')
color_red = '\033[1;31;48m'
reset = '\033[1;37;0m'

print(f"{color_red}Teste{reset}")

CUDA NOT DETECTED! Aborting...
Teste kdf

In [11]:
columns_Resume = pd.MultiIndex.from_tuples([('','Image'),('','Class'),('Object detection','Precision'),('Object detection','Recall'),('Object detection','Ti'),('Object detection','Tf'),('Drivable area','IoU'),('Drivable area','Ti'),('Drivable area','Tf'),('Lane marking','IoU'),('Lane marking','Ti'),('Lane marking','Tf')])

In [12]:
df = pd.DataFrame(columns=columns_Resume)
df

Empty DataFrame
Columns: [(, Image), (, Class), (Object detection, Precision), (Object detection, Recall), (Object detection, Ti), (Object detection, Tf), (Drivable area, IoU), (Drivable area, Ti), (Drivable area, Tf), (Lane marking, IoU), (Lane marking, Ti), (Lane marking, Tf)]
Index: []